In [1]:
import pandas as pd
import sklearn

In [2]:
data = pd.read_csv("data/titanic.csv")
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [39]:
#setting up target and input data
target = data["Survived"]

input = data[['Pclass', "Sex", "Age", "Fare"]]


print(target.head())
print(input.head())

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64
   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [40]:
# now encoding the Sex
from sklearn.preprocessing import LabelEncoder

le_Sex = LabelEncoder()
input["le_Sex"] = le_Sex.fit_transform(input["Sex"])

input = input.drop("Sex", axis='columns')
input["Fare"] = input["Fare"].round(1)
# there are some nan values in INPUT, so removing those
input["Age"] = input["Age"].fillna(input.Age.mean())
input.head()

<ipython-input-40-d22096025c2a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input["le_Sex"] = le_Sex.fit_transform(input["Sex"])

   Pclass   Age  Fare  le_Sex
0       3  22.0   7.2       1
1       1  38.0  71.3       0
2       3  26.0   7.9       0
3       1  35.0  53.1       0
4       3  35.0   8.0       1

In [41]:
# splitting the data into testig and training
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(input, target, test_size=0.1)

In [42]:
# now importing the decision trees
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier()

model.fit(X_train, y_train)

DecisionTreeClassifier()

In [43]:
model.score(X_test, y_test)

0.8666666666666667

In [51]:
model.predict([[1, 42 ,76, 0]])

array([1], dtype=int64)